* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 100px;
}

a[data-tooltip] {
    position: relative;
    text-decoration: none;
}

/* a[data-tooltip]::before {
    position: absolute;
    width: 150px;
    height: 20px;
    left: 0;
    bottom: 125%;
    content: attr(data-tooltip);
    color: black;
    background: yellow;
    border-radius: 4.5rem;
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
    display: none;
} */

a[data-tooltip]:hover::after {
    position: absolute;
    width: 150px;
    height: 20px;
    left: 0;
    bottom: 125%;
    content: attr(data-tooltip);
    color: black;
    background: yellow;
    border-radius: 4.5rem;
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
}
