* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item {
    padding: 1rem;
    border: rgb(255, 255, 255) 4px solid;
    border-radius: 1.5rem;
    color: white;
    font-size: 1.5rem;
}

.grid {
    display: grid;
    grid-template-areas:
        "item1 item1 item1 item1"
        "item2 item3 item3 item4"
        "item5 item5 item5 item5";
    gap: 1rem;
    padding: 2rem;
    height: 100vh;
}

.item1 {
    background: red;
    grid-area: item1;
}

.item2 {
    background: blue;
    grid-area: item2;
}

.item3 {
    background: green;
    grid-area: item3;
}

.item4 {
    background: purple;
    grid-area: item4;
}

.item5 {
    background: yellow;
    grid-area: item5;
}

/* Tablet */

@media (max-width: 768px) {
    .grid {
        grid-template-areas:
            "item1 item1 item1"
            "item2 item3 item3"
            "item4 item4 item4"
            "item5 item5 item5";
    }
}

/* Smartphone */

@media (max-width: 500px) {
    .grid {
        grid-template-areas:
            "item1"
            "item2"
            "item3"
            "item4"
            "item5";
    }
}
