* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 400px;
    height: 300px;
    background-color: rgb(242, 74, 248);
}

.box::before {
    content: "";
    width: 200px;
    height: 300px;
    background-color: rgb(255, 0, 0);
    position: absolute;
}
