* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Red Hat Mono", monospace;
    background: radial-gradient(circle, #ffffff 0%, #94bbe9 100%);
}

.topnav {
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.815);
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #2953ad6e;
    color: rgb(255, 255, 255);
}

.topnav a.active {
    background-color: #0439aa;
    color: white;
}

#container {
    display: inline-block;
    text-align: center;
    max-width: 400px;
    max-height: 800px;
    margin: 30px 30px 30px 30px;
    margin-top: 20vh;
}

.card {
    max-width: 400px;
    background-color: #ffffff11;
    border: 1px solid #91b1c400;
    margin: auto;
    padding: 30px -2px 30px 30px;
    border-radius: 30px;
}

#tag {
    padding: 4px 8px;
    border: 1px solid #e5eaed;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 400;
    color: #788697;
}

.img {
    padding: 40px 40px 40px 40px;
    position: relative;
    left: 40px;
    background: url(/Html_CSS/FullStack-Bootcamp-Week1/1.4-portfolio/Images/myPic.jpg)
        no-repeat center center/cover;
    width: 180px;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
    margin: 30px 30px 30px 30px;
}

.name {
    font-size: 24px;
    font-weight: 600;
    padding: 16px -1px 8px 8px;
    margin: 13px -14px 8px 2px;
}

.sub_name {
    font-size: 16px;
    font-weight: 600;
    line-height: 2em;
}

.text {
    font-size: 15px;
    font-weight: 300;
}

.card_details {
    padding: 16px 8px 8px 8px;
}

h4 {
    padding: 30px 30px 30px 30px;
}

.linkbtn {
    background: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    margin: 10px;
    font-size: 15px;
    border-radius: 22px;
    border-color: rgb(0, 102, 255);
    border-style: solid;
    cursor: pointer;
}

.linkbtn:hover {
    background: aqua;
    color: rgb(255, 255, 255);
}
