* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#rand {
    text-align: center;
    margin-top: 50px;
    transform: scale(2);
}

.wrongMsg {
    visibility: hidden;
    font-weight: 700;
    color: red;
}
.rightMsg {
    visibility: hidden;
    font-weight: 700;
    color: green;
    margin-top: 30px;
}

.resetContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#resetGame {
    margin: 50px;
    transform: scale(3);
}

.resultContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
