* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 100vh;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20rem 20rem;
    font-size: 2vw;
}
