* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: rgb(216, 245, 209);
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.box {
    width: 300px;
    height: 200px;
}

.box1 {
    background: green;
}

.box2 {
    background: blue;
}

.box3 {
    background: red;
}
