.colorContainer {
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
